<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display data</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Tilt+Neon&family=Ubuntu&display=swap" rel="stylesheet">

<style>
    td{
        margin:5px;
        padding:5px;
    }
</style>

</head>
<body style="font-family: 'Tilt Neon', cursive;">
<table>
    <tr>
        <td>Product name</td> 
        <td>Price</td>
        <td>Rating</td>
        <td>Features</td>
    </tr>
    {% for item in data %}
    <tr>
        <td>{{item.name}} </td> 
        <td>{{item.price}}</td>
        <td>{{item.rating}}</td>
        <td>{{item.features.RAM}}</td>
        <td>{{item.features.ROM}}</td>
        <td>{{item.features.color}}</td>
        <td>{{item.features.Camera}}</td>
        <td>{{item.features.Battery}}</td>
        <td>{{item.features.Processor}}</td>
        <td>{{item.features.Year}}</td>
    </tr>
    {% endfor %}

</table>

    
</body>
</html>